article{
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: white;
    padding: 80px 0 0 0;
    font-family: 'Roboto', sans-serif;

}
.about_header{
    padding: 20px;
    text-align: center;
    font-size: 70px;
    text-shadow: 5px 5px #000000;
}
.about_para{
    font-size: 20px;
    font-weight: 100;
    color: white;
}
.about_footer{
    font-size: 15px;
    font-weight: 100;
    color: white;
    padding: 20px;
    text-align: center;
}