.item_picture{
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin: 0 50px;
}
.item_container{
    height: 100%;
    width: 100%;
    top: 50%;
    right: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.right-column{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.item-description h1{
    animation: glow 1s ease-in-out infinite alternate;
    font-size: 60px;
    font-weight: bolder;
    padding: 10px;
    margin: 10px 0;
    font-family: "Bodoni MT", serif;
}
.item-description p{
    font-size: 30px;
    font-weight: 100;
    padding: 10px;
    margin: 10px 0;
    font-family: "Bodoni MT", serif;
}
.item-price span{
    font-size: 30px;
    font-weight: 100;
    padding: 10px;
    margin: 10px 0;
}
.item-price a, .item-price button{
    font-size: 30px;
    font-weight: 100;
    padding: 10px;
    margin: 10px 10px;
    color: white;
    background-color: #FF4B2B;
    border-radius: 10px;
    text-decoration: none;
}
.item-price a:hover, .item-price button:hover{
    color: white;
    background-color: #FF416C;
    border-radius: 10px;
    text-decoration: none;
    animation: glow 15s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #6E0DD0, 0 0 10px #6E0DD0, 0 0 12px #6E0DD0, 0 0 15px #6E0DD0, 0 0 17px #6E0DD0;
    }
    to {
        text-shadow: 0 0 2px #fff, 0 0 5px #9900FF, 0 0 10px #9900FF, 0 0 12px #9900FF, 0 0 15px #9900FF, 0 0 17px #9900FF, 0 0 20px #9900FF;
    }

}

